.foot{
    max-width: 100%;
    background: #142232;
    padding: 20px 20px;
    display: flex;
    justify-content: center;


}

.foo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #142232;
    font-family: 'Gilroy';
    font-style: normal;
    width: 100%;
    column-gap: 10px;
    max-width: 940px;


    

}
.fot{
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 28px;
    /* align-items: center; */
    /* text-align: start; */
    margin-top: -10px;

}
.footNote{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    display: flex;
 

}
.footNot{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 19px;
    

}
.footImg{
    width: 50%;
    max-height: 100%;
    
}

.findFoot{
    display: flex;
    border: 1px solid #64DDB9;
    background-color: #64DDB9;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    padding: 0.3rem 1.2rem;
    font-size: 1rem;
    

}