.immersive{
    position: relative;
    

}

/* .VRpic{
   position: absolute
    background: linear-gradient(244.07deg, #243746 33.78%, rgba(36, 55, 70, 0) 68.55%, #243746 89.23%);
mix-blend-mode: multiply;
} */





.immersiveText{
    
    position: absolute;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 80px;
color: #FFFFFF;
top: 40%;
bottom: 40%;
left: 20%;
right: 20%;

}